<?xml version="1.0" encoding="utf-8"?>
    <!--All rights reserved. No part of this project may be reproduced, distributed, copied, transmitted or-->
    <!--transformed in any form or by any means, without the prior written permission of the developer. -->
    <!--For permission requests, write to the developer, addressed “Attention: Permissions Coordinator,” -->
    <!--at the address below.-->

    <!--Abhinav Tyagi-->
    <!--DGIII-44 Vikas Puri,-->
    <!--New Delhi - 110018-->
    <!--abhi007tyagi@gmail.com-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyagiabhinav.einvite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--<uses-feature-->
    <!--android:glEsVersion="0x00020000"-->
    <!--android:required="true" />-->

    <application
        android:name="com.tyagiabhinav.einvite.Invite"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJbMDt4t3IeMiHZmtkrBnqz89JUf5Yh1o" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="einvite" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.RegistrationActivity"
            android:parentActivityName="com.tyagiabhinav.einvite.UI.MainActivity" />
        <activity
            android:name=".UI.CreateInviteActivity"
            android:parentActivityName="com.tyagiabhinav.einvite.UI.MainActivity" />
        <activity
            android:name=".UI.InvitationActivity"
            android:parentActivityName=".UI.MainActivity" />

        <activity android:name=".UI.ExceptionActivity" />

        <service android:name=".Network.BackgroundService" />
        <provider
            android:name=".DB.DBProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />
        <!--<receiver android:name=".Widget.WidgetProvider"-->
            <!--android:label="@string/app_name">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
            <!--</intent-filter>-->
            <!--<meta-data android:name="android.appwidget.provider"-->
                <!--android:resource="@xml/widget_provider_info" />-->
        <!--</receiver>-->
        <!--<service-->
            <!--android:name=".Widget.WidgetRemoteViewService"-->
            <!--android:permission="android.permission.BIND_REMOTEVIEWS" />-->
    </application>

</manifest>
